
name: Update TV Playlist

on:
  schedule:
    # Запуск каждые 6 часов
    - cron: '0 */6 * * *'
  workflow_dispatch: # Ручной запуск

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install playwright playwright-stealth
          playwright install --with-deps chromium

      - name: Run Grabber Script
        run: python grabber.py
        env:
          LOGIN: ${{ secrets.SMOTRET_LOGIN }}
          PASSWORD: ${{ secrets.SMOTRET_PASSWORD }}

      - name: Commit and Push Playlist
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add playlist.m3u
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update playlist $(date +'%Y-%m-%d %H:%M')" && git push)

