name: Update TV Playlist

on:
  schedule:
    # Запуск каждые 6 часов
    - cron: '0 */6 * * *'
  workflow_dispatch: # Позволяет запускать вручную

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: announcements/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install playwright
          # Установка только системных зависимостей для chromium (экономит время)
          playwright install --with-deps chromium

      - name: Run grabber
        env:
          LOGIN: ${{ secrets.LOGIN }}
          PASSWORD: ${{ secrets.PASSWORD }}
        run: python grabber.py

      - name: Commit and Push
        run: |
          git config --global user.name "Playlist Bot"
          git config --global user.email "bot@github.com"
          git add playlist_8f2d9k1l.m3u
          # Проверка на изменения, чтобы не сыпать ошибками если плейлист не изменился
          git commit -m "Update playlist [$(date)]" || exit 0
          git push
