name: Update TV Playlist

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install playwright
          playwright install chromium

      - name: Run grabber
        env:
          LOGIN: ${{ secrets.LOGIN }}
          PASSWORD: ${{ secrets.PASSWORD }}
        run: python grabber.py
      
      # НОВЫЙ ШАГ: Загрузка в Gist
      - name: Upload playlist to Gist
        uses: ejhayfield/gist-sync-action@v1
        with:
          # ID вашего Gist (смотрите ниже, как получить)
          gist_id: '11e73ac25d6d0d1fa234122ad0278cd8' 
          gist_token: ${{ secrets.GIST_TOKEN }}
          file: 'playlist_8f2d9k1l.m3u'
          commit_message: "Автообновление плейлиста"
